<%- include("header") -%>
<div class="about">
    <h2>You are on About Page which is underconstruction.</h2>
    <h2>Visit back again.</h2>
</div>

<div class="navPage">
    <a href="/">Back on Main Page</a>
</div>


<%- include("footer") -%>