html {
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%);
  min-height: 1000px;
  font-family: 'helvetica neue';
}

h1 {
  color: #fff;
  padding: 10px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

/* #dateFormat{
  color:purple;
} */

#heading {
  /* background-color: #A683E3; */
  background:linear-gradient(120deg,#411530,#0F3D3E);
  text-align: center;
}

#heading h1{
  font-family: 'montserrat',sans-serif;
  letter-spacing: 2px;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
  border-bottom: 0;
}

#listItem{
  font-family: 'montserrat',sans-serif;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #A683E3;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

form {
  text-align: center;
  margin-left: 20px;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #A683E3;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #A683E3;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-family: 'montserrat',sans-serif;
}




/* ABOUT PAGE STYLING */

.about h2{
  font-family:'montserrat',sans-serif;
}

.navPage{
  display: flex;
  justify-content: center;
  /* margin:0 30px; */
}

.navPage a{
  display: flex;
  font-family: 'montserrat';
  padding: 15px 30px;
  text-decoration: none;
}

.navPage a:hover{
  color: #0F3D3E;
  letter-spacing: 0.5px;
  transition: 0.5s;
}